:root {
  font-family: 'Times New Roman';
  line-height: 1;
  font-weight: 800;

  color-scheme: light dark;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}